<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336466912250-i2s94gc6sjp9crgk1u0cg5m7mmh6fao0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336466912250-i2s94gc6sjp9crgk1u0cg5m7mmh6fao0</string>
	<key>API_KEY</key>
	<string>AIzaSyAWfPcGxPu-sa5eaHvq0pYwtKUtJkTYmNE</string>
	<key>GCM_SENDER_ID</key>
	<string>336466912250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.samplefirebslogin</string>
	<key>PROJECT_ID</key>
	<string>sampleelogin</string>
	<key>STORAGE_BUCKET</key>
	<string>sampleelogin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336466912250:ios:e13d098232637bc9b3ba43</string>
</dict>
</plist>